.activity-cards ul {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Colonnes dynamiques avec largeur minimale */
  gap: 40px; /* Espacement entre les cartes */
  justify-content: center; /* Centre la grille horizontalement */
  list-style: none; /* Supprime les puces de liste */
  padding: 0;
  margin: 40px auto; /* Centrage horizontal global */
  max-width: 1000px; /* Largeur maximale pour centrer les lignes globalement */
}

/* Individual card */
.card {
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.activityImgContainer {
  height: 150px;
  overflow: hidden;
}

/* Card image */
.activityImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.activityTxtContainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.activityName {
  font-size: 16px;
  padding: 5px;

  margin: 0 0 5px 0;
  color: black;
}

.show-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  overflow: hidden; /* Pour gérer les badges sortant du cadre */
}

.season-badges {
  position: absolute;
  top: 10px; /* Décalage depuis le haut de la carte */
  left: 10px; /* Décalage depuis la gauche de la carte */
  display: flex;
  gap: 5px; /* Espacement entre les badges */
  z-index: 1;
}

.badge {
  width: 10px; /* Taille du badge */
  height: 10px; /* Taille du badge */
  border-radius: 50%; /* Forme circulaire */
}

.badge-winter {
  background-color: #73c1f5; /* Couleur pour l'hiver */
}

.badge-spring {
  background-color: #a7f552; /* Couleur pour le printemps */
}

.badge-summer {
  background-color: #f5f08f; /* Couleur pour l'été */
}

.badge-autumn {
  background-color: #f59853; /* Couleur pour l'automne */
}
