@font-face {
  font-family: "Noyh";
  src: url(../../assets/fonts/Noyh-Regular.ttf);
}

@font-face {
  font-family: "Noyh";
  src: url(../../assets/fonts/Noyh-Heavy.ttf);
  font-weight: bold;
}

$font-1: "Noyh", sans-serif;

$blue-1: #05203c;
$bluewhite: #eff3f8;
$grey: #c1c7cf;
$light-grey: #c1c7cf2f;
$white: rgb(255, 255, 255);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  outline: none;
}

body {
  background: $white;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-button {
  display: inline-block;
  height: 55px;
  width: 250px;
  font-size: 16px;
  color: $blue-1;
  background: none;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid $blue-1;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: color 0.6s ease;
}

.main-button:hover {
  color: $white;
  background: $blue-1;
  cursor: pointer;
}
